#intro {
  font-family: helvetica;
  padding-top: 20px;
  padding-bottom: 40px;
  text-shadow: 1px 1px 4px grey;
  text-align: center;
  font-size: 24px;
  background: #F0F8FF;
  box-shadow: 1px 1px 4px grey;
}
.button {
  padding-bottom: 7px;
  padding-left: 1px;
  padding-top: 13px;
  font-family: Comic Sans MS;
}
#tweets {
  padding: 10px 10px 10px 10px;
  margin: right;
  font-family: helvetica;
  border: 3px solid #F0F8FF;
  box-shadow: -5px -1px 5px grey;
}

#tweets .cont .time {
  font-family: Comic Sans MS;
  font-size: small;
  font-style: italic;
  float: right;
}
#tweets .cont .user {
  font-weight: bold;
  float: center;
}
#tweets .cont .space {
  opacity: 0;
}